body {
  margin: auto;
  max-width: 450pt;
  background-color: #082932;
  padding: 16pt;
  font-family: sans-serif;
  color: #a7a7a7;
}

a {
  color: #ededed;
  margin: 5pt 0 5pt 0;
  text-decoration: none;
}

summary {
  cursor: pointer;
  padding: 10pt 0 10pt 0;
  font-size: 18pt;
  font-weight: bold;
}

pre {
  font-size: 8pt;
}

#social-links {
  display: flex;
  gap: 10pt
}

#social-links a {
  margin: 10pt 0 0 0
}

#social-links p {
  margin: 10pt 0 0 0;
  margin-left: auto;
}
