body {
  margin: auto;
  max-width: 450pt;
  background-color: #082932;
  padding: 16pt;
  font-family: sans-serif;
  color: #ededed;
}

a {
  color: #3c77c4;
  margin: 5pt 0 5pt 0;
  text-decoration: none;
}

summary {
  cursor: pointer;
  padding: 10pt 0 10pt 0;
  font-size: 18pt;
  font-weight: bold;
}

pre {
  margin: 0;
  padding: 0;
  font-size: 8pt;
}
